.btn-logout {
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: darkgreen;
    border-color: black;
    width: 100%;
}

.btn-logout:hover {
    background-color:rgb(3, 73, 3);
    border-color: black;
}

.btn-brand:focus {
    outline: none;
    box-shadow: none;
    background-color: transparent;
  }